* {
  margin-right: 0px;
  padding: 0px;
  font-family: roboto;
}

body {
  font-family: "roboto";
  height: 500vh;
}

.menu {
  background-color: rgb(170, 237, 179);
  position: sticky;
  top: 0;
  left: 0;
}

.menu > ul {
  display: flex;
  list-style: none;
}

.menu li a {
  text-decoration: none;
  display: block;
  padding: 15px 20px;
  color: #000;
}

.sous-nav {
  list-style: none;
  display: one;
  position: absolute;
  top: 0;
  left: 0;
}
.has-sous-nav:hover .sous-nav {
  display: block;
  background-color: rgb(42, 104, 55);
  position: relative;
  color: #fff;
}
